<div class="outerContainer">    
    <div class="step1" *ngIf="stepValue == 1" >
      <nz-card class="loginCard">
        <div class="logo-area mb2">
          <img src="/assets/images/logo-icon.png" alt="ownprep">
        </div>
        <h2 class="loginHeader">Sign up with OwnPrep</h2>      
        <p class="verinfo">Enter your mobile number. We'll send you a verification code.</p>
        <form nz-form [formGroup]="getOtpForm" class="login-form">
          <nz-form-item  class="loginfld" >
              <nz-form-label class="boldlabel" [nzSpan]="24" nzFor="phone" nzRequired
                >Enter Mobile Number <small>(10 digit)</small></nz-form-label
              >
            <nz-form-control nzErrorTip="Please input your Mobile Number!" [nzErrorTip]="errorTplPhone">
              <nz-input-group nzAddOnBeforeIcon="phone">
                <input type="text" nz-input formControlName="phone" placeholder="Enter 10 digit Mobile Number"/>
                <ng-template #errorTplPhone let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input 10 digit Mobile number!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">
                    Please input a valid Mobile number!
                  </ng-container>
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>       
          
          <div nz-col [nzSpan]="24" class="login-button">
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
              (click)="getMyOtp()" [nzLoading]="isLoading">Send OTP</button>
          </div>
          <div nz-col [nzSpan]="24" style="text-align: center; font-weight: 500;">
            Already have an account? <a [routerLink]="['/auth/login']">Login</a>
          </div>
        </form>   
      </nz-card>
    </div>
    <div class="step2" *ngIf="stepValue == 2" >
      <app-otp-confirmation [phone]="getOtpForm.value.phone" (steppervar)="getStepValue($event)"></app-otp-confirmation>
    </div>
    <div class="step3" *ngIf="stepValue == 3" >
      <app-register [phone]="getOtpForm.value.phone"></app-register>
    </div>
  </div>
  
