$isssColor: #016db5;
$isssSecondaryColor: #143753;
$isssCardRadius: 10px;
$isssTheme: #016db5;
$isssShadow: 0 5px 10px 0 rgba(201, 200, 200, 0.32);
$isssShadowHover: 0 5px 20px 0 rgba(201, 200, 200, 0.32);
